<nav class="navbar navbar-expand-md bg-light h-100 p-0">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-start"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="nav flex-column">
          <% links = [
            { title: "Home", href: "/", icon: "house" },
            { title: "PDV", href: "/pdv", icon: "cart" },
            { title: "Pessoas", href: "/customers", icon: "people" },
            {
              title: "Produtos",
              icon: "box",
              children: [
                { title: "Produtos", href: "/products", icon: "box" },
                { title: "Categorias", href: "/categories", icon: "list" },
              ],
            },
            {
              title: "Documentos Fiscais",
              href: "/fiscal_documents",
              icon: "cash-stack",
            },
          ] %>

          <div class="accordion accordion-flus" id="nav-accordion">
            <% links.each_with_index do |link, index| %>
              <% if link[:children] %>
                <% is_current = link[:children].any? { |child| current_page?(child[:href]) } %>
                <div class="accordion-item border-0">
                  <h2 class="accordion-header">
                    <button
                      class="
                        accordion-button <%= 'collapsed' unless is_current %> gap-1 text-primary
                      "
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse<%= index %>"
                      aria-expanded="<%= is_current %>"
                      aria-controls="collapse<%= index %>"
                    >
                      <%= bi_icon link[:icon] %>
                      <%= link[:title] %>
                    </button>
                  </h2>
                  <div
                    id="collapse<%= index %>"
                    class="
                      accordion-collapse collapse <%= 'show' if is_current %>
                    "
                    data-bs-parent="#nav-accordion"
                  >
                    <div class="accordion-body">
                      <% link[:children].each do |child| %>
                        <a
                          href="<%= child[:href] %>"
                          class="
                            nav-link <%= 'rounded fw-semibold bg-primary-subtle' if current_page?(child[:href]) %>
                          "
                        >
                          <%= bi_icon child[:icon] %>
                          <%= child[:title] %>
                        </a>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% else %>
                <li class="nav-item">
                  <a
                    href="<%= link[:href] %>"
                    class="nav-link <%= 'rounded fw-semibold bg-primary-subtle' if current_page?(link[:href]) %>"
                  >
                    <%= bi_icon link[:icon] %>
                    <%= link[:title] %>
                  </a>
                </li>
              <% end %>
            <% end %>
          </div>
        </ul>
      </div>
    </div>
  </div>
</nav>
