<div id="<%= dom_id sales_product %>">
  <p>
    <strong>Sale:</strong>
    <%= sales_product.sale_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= sales_product.product_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= sales_product.quantity %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= sales_product.total_price %>
  </p>

</div>
