<p style="color: green"><%= notice %></p>

<%= render @sales_product %>

<div>
  <%= link_to "Edit this sales product", edit_sales_product_path(@sales_product) %> |
  <%= link_to "Back to sales products", sales_products_path %>

  <%= button_to "Destroy this sales product", @sales_product, method: :delete %>
</div>
