<p style="color: green"><%= notice %></p>

<%= render @document_item %>

<div>
  <%= link_to "Edit this sales product", edit_sales_product_path(@document_item) %>
  |
  <%= link_to "Back to sales products", sales_products_path %>

  <%= button_to "Destroy this sales product", @document_item, method: :delete %>
</div>
