<div class="overflow-y-auto vh-100 px-2" style="padding-bottom: 54px;">
  <div class="d-flex flex-column gap-2 mb-2">
    <h1 class="">Detalhes da Nota Fiscal</h1>
    <!-- Document Information -->
    <div class="card">
      <div class="card-header">
        Informação do Documento
      </div>
      <div class="card-body">
        <p><strong>Cliente:</strong>
          <%= @fiscal_document.customer.name %></p>
        <p><strong>Descrição:</strong>
          <%= @fiscal_document.description %></p>
        <p><strong>Valor Total:</strong>
          <%= number_to_currency(@fiscal_document.total_value) %></p>
        <p><strong>Emissão:</strong>
          <%= @fiscal_document.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
      </div>
    </div>
    <!-- Fiscal Scenario Information -->
    <div class="card">
      <div class="card-header">
        Cenário Fiscal
      </div>
      <div class="card-body d-flex justify-content-between">
        <p><strong>Descrição:</strong>
          <%= @fiscal_document.fiscal_scenario.description %></p>
        <p><strong>Operação:</strong>
          <%= @fiscal_document.fiscal_scenario.operation %></p>
        <p><strong>Tipo de Operação:</strong>
          <%= @fiscal_document.fiscal_scenario.operation_type %></p>
      </div>
    </div>
    <!-- Document Items -->
    <div class="card">
      <div class="card-header">
        Produtos
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Produto</th>
              <th>Quantidade</th>
              <th>Preço</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <% @fiscal_document.document_items.each do |item| %>
              <tr>
                <td><%= item.product.name %></td>
                <td><%= item.quantity %></td>
                <td><%= number_to_currency(item.product.retail_price) %></td>
                <td><%= number_to_currency(item.product.retail_price * item.quantity) %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr class="h5">
              <td colspan="3">Total:</td>
              <td><%= number_to_currency(@fiscal_document.total_value) %></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <!-- Document Payments -->
    <div class="card">
      <div class="card-header">
        Lançamentos
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Método de Pagamento</th>
              <th>Montante</th>
            </tr>
          </thead>
          <tbody>
            <% @fiscal_document.document_payments.each do |payment| %>
              <tr>
                <td><%= payment.payment_method.name %></td>
                <td><%= number_to_currency(payment.amount) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Back Button -->
  </div>
  <%= render "fiscal_documents/footer" %>
</div>
