<div
  class="list-group-item border-0 <%= category.parent_id? ? "" : "border-bottom" %> p-2"
>
  <div class="d-flex align-items-center gap-3">
    <%# Toggle button for children %>
    <% if category.children.present? %>
      <button
        class="btn btn-link btn-sm p-0 text-primary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse_<%= dom_id(category) %>"
        aria-expanded="false"
        aria-controls="collapse_<%= dom_id(category) %>"
      >
        <%= bi_icon "chevron-right" %>
      </button>
    <% else %>
      <div style="width: 16px"></div>
      <%# Spacer for alignment %>
    <% end %>

    <%# Category Image %>

    <%# Category Name %>
    <div class="flex-grow-1">
      <%= category.name %>
    </div>

    <%# Action Buttons %>
    <div class="d-flex gap-2">
      <%= link_to edit_category_path(category),
                class: "btn btn-outline-primary btn-sm border-0" do %>
        <%= bi_icon "pencil" %>
      <% end %>

      <%= link_to new_category_path(parent_id: category.id),
                class: "btn btn-outline-primary btn-sm border-0" do %>
        <%= bi_icon "plus" %>
      <% end %>

      <%# Active Toggle %>
    </div>
  </div>

  <%# Children %>
  <% if category.children.present? %>
    <div class="collapse ps-4 mt-2" id="collapse_<%= dom_id(category) %>">
      <%= render_categories category.children %>
    </div>
  <% end %>
</div>
