<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Cost price:</strong>
    <%= product.cost_price %>
  </p>

  <p>
    <strong>Retail price:</strong>
    <%= product.retail_price %>
  </p>

</div>
