<%= render "shared/table",
  model: @products,
  table_frame_id: "products",
  header_tags: ["Ações", "Nome", "Categoria", "Preço de custo", "Preço de venda"],
  ransack_predicate: :name_cont,
  new_resource_title: "Novo Produto", new_resource_path: new_product_path do %>

  <% @products.each do |product| %>
    <tr class="">
      <td><%= render "products/actions_dropdown", product: %></td>
      <td><%= link_to product.name, product %></td>
      <td><%= product.category.name %></td>
      <td><%= number_to_brl product.cost_price %></td>
      <td><%= number_to_brl product.retail_price %></td>
    </tr>
  <% end %>

<% end %>

<%= render "shared/table/offcanvas_filter" %>
