<%= render "shared/table",
  table_frame_id: "products",
  header_tags: ["Ações", "Nome", "Descrição", "Preço de custo", "Preço de venda"] do %>

  <% @products.each do |product| %>
    <tr class="text-center">
      <td><%= render "products/actions_dropdown", product: %></td>
      <td><%= link_to product.name, product %></td>
      <td><%= product.description %></td>
      <td><%= number_to_brl product.cost_price %></td>
      <td><%= number_to_brl product.retail_price %></td>
    </tr>
  <% end %>

<% end %>

<%= render "shared/table/offcanvas_filter" %>
