<%= form_with(model: @product) do |form| %>
  <div class="overflow-y-auto vh-100 px-2" style="padding-bottom: 54px;">
    <div class="d-flex flex-column gap-2 mb-2">
      <h2 class="">Criar Novo Produto</h2>
      <!-- Customer Information -->
      <div class="card">
        <div class="card-header">
          Informações do Produto
        </div>
        <div class="card-body">
          <div class="mb-3">
            <%= form.label :name, class: "form-label" %>
            <%= form.text_field :name, class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= form.label :description, class: "form-label" %>
            <%= form.textarea :description, class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= form.label :category, class: "form-label" %>
            <%= form.select :category_id,
                        @categories.collect { |c| [c.name, c.id] },
                        {},
                        class: "form-select" %>
          </div>

          <div class="mb-3">
            <%= form.label :cost_price, class: "form-label" %>
            <%= form.text_field :cost_price, type: "number", step: "0.01", class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= form.label :retail_price, class: "form-label" %>
            <%= form.text_field :retail_price,
                            type: "number",
                            step: "0.01",
                            class: "form-control" %>
          </div>
        </div>
      </div>
      <% if @product.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(@product.errors.count, "error") %>
            prohibited this product from being saved:</h2>

          <ul>
            <% @product.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <%= render "products/footer", form: %>
  </div>
<% end %>
