<%= render "shared/table",
  table_frame_id: "sales",
  header_tags: ["Ações", "Detalhes", "Cliente", "Preço Total"],
  ransack_predicate: :customer_name_cont do %>

  <% @sales.each do |sale| %>
    <tr class="">
      <td><%= render "sales/actions_dropdown", sale: %></td>
      <td><%= link_to sale %></td>
      <td><%= sale.customer.name %></td>
      <td>To be implemented</td>
    </tr>
  <% end %>

<% end %>

<%= render "shared/table/offcanvas_filter" %>
